@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url("fondo.jpg");
    background-size: cover;
}
.contenedor{
    min-height: 100vh;
}
.caja{
    font-size: 20px;
    width: 100%;
    min-height: 82vh;
    background-color: rgb(233, 233, 233, 0,4);
    backdrop-filter: blur(15px);
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px lightgray;
}
.caja p{
    margin-bottom: 4%;
}
.titulo{
    font-size: 30px;
}
.contenedorTarjetas{
    padding: 20px 0;
    row-gap: 20px;
    column-gap: 20px;
}
.tarjeta{
    width: 250px;
    box-shadow: 0px 0px 5px lightgray;
    margin: 10px;
    overflow: hidden;
}
.tarjeta img{
    width: 35vh;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
}
.modalFormulario {
    background-color: #343a40;
    padding: 2rem;
    border-radius: 15px;
    color: white;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}
.modalPaciente{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}
.modalPaciente form {
    background-color: #343a40;
    padding: 2rem 2.5rem;
    border-radius: 15px;
    color: white;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.modalPaciente input{
    margin-bottom: 4%;
}
.modalPaciente.mostrar {
    display: flex !important;
}