@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url("fondo.jpg");
    background-size: cover;
}
.contenedor{
    min-height: 100vh;
}
.caja{
    font-size: 20px;
    width: 100%;
    min-height: 82vh;
    background-color: rgb(233, 233, 233, 0,4);
    backdrop-filter: blur(15px);
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px lightgray;
}
.caja p{
    margin-bottom: 4%;
}
.titulo{
    font-size: 30px;
}
.tarjeta{
    box-shadow: 0px 0px 5px lightgray;
}
.tarjeta img{
    width: 60vh;
    height: 40vh;
    border-radius: 10px 10px 0px 0px;
}
.modalAdmin {
    position: fixed; /* Fija el modal en la pantalla */
    top: 50%; /* Lo coloca al 50% desde la parte superior */
    left: 50%; /* Lo coloca al 50% desde la parte izquierda */
    transform: translate(-50%, -50%); /* Lo desplaza hacia arriba y a la izquierda para centrarlo */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
    width: 80%; /* Tamaño del modal */
    max-width: 500px; /* Ancho máximo para evitar que se haga demasiado grande */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    display: none; /* Lo ocultamos al principio */
    z-index: 1050; /* Asegura que el modal esté encima de otros elementos */
    color: white;
}
.modalAdmin.d-flex {
    display: flex;
    align-items: center; /* Alinea el contenido en el centro verticalmente */
    justify-content: center; /* Alinea el contenido en el centro horizontalmente */
}
.modalAdmin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    z-index: -1; /* Coloca el fondo por debajo del formulario */
}
.modalAdmin form{
    width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.modalAdmin input{
    margin-bottom: 4%;
}