@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url("fondo.jpg");
    background-size: cover;
}
.contenedor{
    min-height: 100vh;
}
.cajaAdmin{
    margin-top: 20vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: rgb(233, 233, 233, 0,4);
    backdrop-filter: blur(15px);
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px lightgray;
}
.botonAdmin{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: rgb(233, 233, 233, 0,4);
    backdrop-filter: blur(15px);
    border: 2px solid lightgray;
    box-shadow: 0px 0px 10px lightgray;
}
#botonSalir{
    padding-left: 9%;
    padding-right: 9%;
}